@font-face {
    font-family: 'ptBold';
    src: url('Fonts/ptserif-bold-webfont.woff2') format('woff2'),
         url('Fonts/ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ptBoldItalic';
    src: url('Fonts/ptserif-bolditalic-webfont.woff2') format('woff2'),
         url('Fonts/ptserif-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ptItalic';
    src: url('Fonts/ptserif-italic-webfont.woff2') format('woff2'),
         url('Fonts/ptserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt';
    src: url('Fonts/ptserif-regular-webfont.woff2') format('woff2'),
         url('Fonts/ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Beginning of default stlying elements */
:root {
    /* Coolors has a colorblind option and it would be cool to build that in with php or javascript?
       https://coolors.co/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff -- Current color pallet
    */
    --backgroundColor: #070707;
    --textColor: #f8f0ff;
    --secTextColor: #955fc1;
    --darkTextColor: #6300bf;
    --unclick: #e3c3ff;
    --clicked: #c684ff;
}
body#home a.home::after, body#mason a.mason::after, body#essays a.essay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--textColor);
    transform: scale(1.1);
}
body {
    background-color: var(--backgroundColor);
}
h1 {
    font-family: 'ptBold';
    color: var(--textColor);
    font-size: 3em;
    margin: 0 auto 0 auto;
}
h2 {
    font-family: 'ptBold';
    color: var(--textColor);
    font-size: 2.25em;
}
h3 {
    font-family: 'ptBold';
    color: var(--textColor);
    font-size: 1.75em;
}
p, li {
    font-family: 'pt';
    color: var(--textColor);
    font-size: 1.15em;
}
p {
    margin: 2em 0;
    text-indent: 2.5em;
}
li {
    margin: .25em 0;
}
sup {
    font-family: 'pt';
    color: var(--unclick);
    font-size: .75em;
}
/* Beginning of class styling */
.internalLink {
    text-decoration: none;
    color: var(--unclick)
}
.internalLink:visited {
    color: var(--clicked)
}
.externalLink {
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    font-size: .95em;
    color: var(--unclick)
}
.externalLink:visited {
    color: var(--clicked)
}
.essayList {
    margin: -1em auto auto 5em;
}
.navButton {
    color: var(--textColor);
    text-decoration: none;
}
.pageSummary {
    margin: 0 15% 0 5%;
}
.center {
    width: 60%;
    margin: auto;
}
/* Beginning of id styling */
#navMenu {
    display: flex;
    width: 100%;
}
#logo {
    margin-left: .5em;
    font-size: 4em;
}
#about {
    margin-left: 5em;
    width: 50em;
}
#mainBody {
    margin-left: 2em;
}
#footnotes {
    font-size: 1.25em;
}
#footnotesList {
    width: 80%;
    font-size: .8em;
    list-style-type: lower-roman;
}